[package]
name = "bitcoin-pro"
description = "Professional bitcoin accounts & assets management"
version = "0.1.0-beta.1"
authors = ["Dr Maxim Orlovsky <orlovsky@pandoracore.com>"]
edition = "2018"
license = "AGPL-3.0-only"
readme = "README.md"
exclude = ["examples"]

[[bin]]
name = "bitcoin-pro"

[dependencies]
amplify = { version = "2.4", features = ["serde"] }
amplify_derive = "2.4.2"
lazy_static = "1.4.0"
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "1.5", features = ["hex"] }
serde_json = "1.0"
serde_yaml = "0.8.14"
toml = "0.5.7"
gtk = { version = "0.9.2", features = ["v3_24_9"] }
gdk = { version = "0.13.2", features = ["v3_24"] }
gio =  { version = "0.9.1", features = ["v2_64"] }
glib = { version = "0.10.3", features = ["v2_64"] }
glade = "0.1.0-alpha.3"
lnpbp = { version = "0.3.0-alpha.1", git = "https://github.com/LNP-BP/rust-lnpbp", features = ["lnp", "rgb", "tor", "url"] }
lnpbp_derive = { version = "0.3.0-alpha.1", git = "https://github.com/LNP-BP/rust-lnpbp" }
rgb_node = { version = "0.3.0-alpha.1", git = "https://github.com/LNP-BP/rgb-node" }
electrum-client = "0.3.0-beta.1"

[patch.crates-io]
# Remove this once https://github.com/jean-airoldie/zeromq-src-rs/pull/15 got merged
zeromq-src = { git = "https://github.com/LNP-BP/zeromq-src-rs", branch = "fix/cmake" }

[workspace]
members = [".", "bpro"]
default-members = [".", "bpro"]
